.generator_container{
  padding: 1rem;
  max-width: 500px;
  min-height: 100%;
}

.todos_container{
  padding: 1rem;
  display: grid;
  grid-template-rows: minmax(min-content,8%) minmax(min-content,92%);
  z-index: 1;
  position: relative;
}

.empty-todos--text{
  text-align: center;
  font-size: 2.5rem;
  color: #f16079;
}
