.generator_container{
  padding: 1rem;
  display: grid;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: 500px;
  justify-self: center;
}

.todos_container{
  padding: 1rem;
  display: grid;
  grid-template-rows: minmax(min-content,8%) minmax(min-content,92%);
  z-index: 1;
  position: relative;
}

